fastapi
uvicorn
python-multipart
python-dotenv
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
pydantic
groq
chromadb
pymupdf
PyPDF2
sentence-transformers   
passlib[bcrypt]                          